<footer class="footer">
    <div class="footer-container">

        <div class="footer-left">
            <a class="logo" routerLink="/">
                <span class="logo-w">w</span>
                <span class="logo-h">h</span>
                <span class="logo-oopsy">
                    <span class="eye-o">O</span>
                    <span class="eye-o">O</span>
                    <span class="logo-ps">PS</span>
                </span>
                <span class="logo-y">y</span>
            </a>

            <div class="user-access">
                <span class="material-symbols-sharp">person</span>
                <div class="access-links">
                    <a routerLink="/login">Giriş Yap</a>
                    <span class="dot">•</span>
                    <a routerLink="/register">Kaydol</a>
                </div>
            </div>
        </div>

        <div class="footer-middle">
            <div class="footer-col">
                <h3>Kategoriler</h3>
                <a [routerLink]="['/urunler/kategori', 'a5e8fbef-1e30-4c30-b33e-3085e5bd13b6']">Ayakkabı</a>
                <a [routerLink]="['/urunler/kategori', '34a4f1f4-5a50-44ef-ab7c-fd7753c0cdfd']">Giyim</a>
                <a [routerLink]="['/urunler/kategori', 'fb59ff4e-c92d-4c1f-8c34-34373e1badba']">Aksesuar</a>
                <a [routerLink]="['/urunler/kategori', '485762be-7130-485e-984c-fa34cd90b87b']">Diğer</a>
            </div>
            <div class="footer-col">
                <h3>Hızlı Erişim</h3>
                <a href="#" class="footer-link-with-icon" (click)="openSearch($event)">
                    <span class="material-symbols-sharp">search</span>
                    Ara
                </a>
                <a routerLink="/favorites" class="footer-link-with-icon">
                    <span class="material-symbols-sharp">favorite</span>
                    Favorilerim
                </a>
                <a routerLink="/cart" class="footer-link-with-icon">
                    <span class="material-symbols-sharp">local_mall</span>
                    Sepetim
                </a>
            </div>
        </div>

        <div class="footer-right">
            <h3>Bize Ulaşın</h3>
            <div class="social-icons">
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-tiktok"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2026 whOOPSy. Tüm hakları saklıdır.</p>
        <div class="payment-methods">
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/d6/Visa_2021.svg" alt="Visa">
            <img src="https://upload.wikimedia.org/wikipedia/commons/2/2a/Mastercard-logo.svg" alt="Mastercard">
            <img src="https://upload.wikimedia.org/wikipedia/commons/1/1d/Troy_logo_troy_odeme_logo.svg" alt="Troy"
                class="troy-icon">
        </div>
    </div>
</footer>